body{
    font-family: 'Spartan', sans-serif;
    font-size: 0.9375rem;
    background-image: url(images/bg-pattern-top-desktop.svg),url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-size: 33%,48%;
    background-position: top left,bottom right;
    height: max-content;
}
header{
    font-size: larger;
    position: relative;
    display: inline-block;
}
.headers{
    font-weight: 700;
    line-height: 1;
    color: hsl(300, 43%, 22%);
    width: 44%;
    float: left;
}
.headers p{
    font-weight: 400;
    line-height: 1.5;
    color: hsl(303, 10%, 53%); 
}
.ratings{
    display: inline-block;
    position: relative;
    margin-top: 3%;
    width: 40rem;
    height: 9.5rem;
    padding: 1rem 2rem;
}
.rating-box{
    background-color: hsl(300, 24%, 96%);
    border-radius: 0.567rem;
    width: 33rem;
    position: absolute;
    padding-left:  1rem;
}
.rating-box img{
    margin: 0.267rem;
    vertical-align: middle;
}
.rating-box p{
    display: inline-block;
    font-weight: 400;
    font-size: small;
    font-weight: bold;
    color: hsl(300, 43%, 22%);
    margin-left: 3.33rem;
}
.reviews{
    top: 0;
    left: 0;
}
.Guru{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.BestTech{
    bottom: 0;
    right: 0;
}
.client{
    display: inline-block;
    position: relative;
}
.client-box{
    display: inline-block;
    width: 23.3%;
    height: 14.3rem;
    background-color: hsl(300, 43%, 22%);
    border-radius: 0.4rem;
    padding: 2%;
    margin-left: 3rem;
    margin-top: 4.67rem;
}
.client-box h3{
    color: white;
    display: inline;
    float: right;
    margin-right: 39.67%;
    margin-top: 1.3333rem;
    font-size: medium;
}
.client-box h5{
    display: inline;
    float: right;
    margin-right: 44.67%;
    color: hsl(333, 80%, 67%);
    position: relative;
    bottom: 3.7rem;
}
.client-box p{
    color:white;
    display: inline-block;
    position: relative;
    bottom: 3.53rem;
    line-height: 1.6;
}
.client-box img{
    border-radius: 50%;
    transform: scale(0.7);
}

.irene{
    position: relative;
    top: 2rem;
}
.anne{  
    position: relative;
    top:4rem;
}
.clear{
    clear: both;
}
